<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:datasource.properties</value>
		</property>
	</bean>

	<context:component-scan
		base-package="com.kun.app.*.control;com.kun.app.*.service.impl" />
	<!-- dataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>${ds.driverClassName}</value>
		</property>
		<property name="url">
			<value>${ds.url}</value>
		</property>
		<property name="username">
			<value>${ds.userName}</value>
		</property>
		<property name="password">
			<value>${ds.password}</value>
		</property>
		<property name="maxActive">
			<value>${ds.maxActive}</value>
		</property>
		<property name="maxWait">
			<value>${ds.maxWait}</value>
		</property>
		<property name="defaultAutoCommit">
			<value>${ds.defaultAutoCommit}</value>
		</property>
	</bean>

	<!-- hibernate Template -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="BATCH" />
	</bean>

	<!-- <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"></bean> -->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mybatis/*/*.xml" />
		<property name="plugins">
			<bean id="paginationPlugin" class="com.kun.common.util.db.PaginationIntercepter" />
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 如果这里用ref会报错，因为 propertyConfigurer的加载顺序在MapperScannerConfigurer之后,而dataSource需要用到propertyConfigurer的参数 -->
		<!-- <property name="sqlSessionFactory" ref="sqlSessionFactory" /> -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.kun.app.*.data" />
	</bean>

	<!-- transaction Manage -->
	<!-- <bean id="baseTxProxy" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> -->
	<!-- <property name="transactionManager"> -->
	<!-- <ref bean="transactionManager" /> -->
	<!-- </property> -->
	<!-- <property name="transactionAttributes"> -->
	<!-- <props> -->
	<!-- <prop key="*">PROPAGATION_REQUIRED,readOnly</prop> -->
	<!-- <prop key="change*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="save*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="add*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="del*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="update*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="set*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="reset*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="validate">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- <prop key="upload*">PROPAGATION_REQUIRED,-ServiceException,-Exception</prop> -->
	<!-- </props> -->
	<!-- </property> -->
	<!-- </bean> -->

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- 这里需要深究 -->
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<!-- expression=execution(interface's method) -->
		<aop:pointcut id="txPointCuts" expression="(execution(* com.kun.app.*.service.*.*(..))) or (execution(* com.kun.common.service.IService.*(..)))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCuts" />
	</aop:config>

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
